/* App-wide styling */
body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

button {
    background-color: #1f1f1f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: large;
    margin: 10px;
}

button:hover {
    background-color: #333333;
    cursor: pointer;
}

button:active {
    background-color: #555555;
}

button:disabled {
    background-color: #555555;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: #555555;
}

span {
    margin: 5px;
}

progress {
    height: 24px;
    padding: 1px;
    margin: 4px;
}

div.vertical {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}

div.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

div.progress-bar {
    flex-grow: 1;
    position: relative;
    height: 28px;
    margin: 5px;
    background-color: #4b742d;
}

div.progress-bar-fill {
    position: absolute;
    height: 100%;
    background-color: #89ac70;
}

span.progress-bar-text {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 28px;
}

/*#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}*/